
::placeholder {
  color: green;
}

.Block{
padding:1rem;
display: flex;
flex-direction: row;
align-items: flex-start;
  width: 30%;
  background: rgb(224, 223, 223);
  -webkit-user-select: text;
  user-select: text;
  color: black;
}